<!-- <form class="border p-3 rounded-3" [formGroup]="otpForm" (ngSubmit)="forgotSubmited()">
    <div class="row g-0">
        <div class="col text-center p-2 mb-3 bg-light">
            <span class="fs-3">Forgot Password</span>
        </div>
    </div>
    <div class="row">
        <div class="col mb-3">
            <label for="otp" class="form-label">Verify OTP</label>
            <input type="text" class="form-control" id="otp"
            formControlName="otp">
            
        </div>
    </div>
    
    <div class="row">
        <div class="col-6 offset-3">
            <div class="d-grid">
                <button type="submit" [disabled]="otpForm.invalid" class="btn btn-primary">Reset Password</button>
            </div>
        </div>
    </div>
     
    
  </form> -->
